<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Recycle Bill Form</title>
</head>
<body>

<div class="container mt-5">
    <h2>Recycle Bill Form</h2>
    <form action="/water" method="post" enctype="multipart/form-data">
        <!-- Bill Details -->
        <div class="form-group">
            <label for="recycleID">Bill ID</label>
            <input type="text" class="form-control" id="recycleID" placeholder="Enter Recycle ID">
        </div>
        <div class = "form-group">
            <label for="contactName">User Name:</label>
            <input type="text" id="contactName" name="contactName" class="form-control" placeholder="Enter Your Name" required>
        </div>
        <div class = "form-group">
            <label for="contactPhone">Contact Number:</label>
            <input type="number" id="contactPhone" name="contactPhone" class="form-control" placeholder="Enter Phone Number" required>
        </div>  
        <div class="form-group">
            <label for="type">Type</label>
            <select id="type" name="type"  class="form-control" required>
                <option value="material">Material</option>
                <option value="glass">Glass</option>
                <option value="paper">Paper</option>
            </select>
        </div>
        <div class = "form-group">
            <label for="weight">Weight:</label>
            <input type="number" id="weight" name="weight" class="form-control" placeholder="Enter weight" required>
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date">
        </div>

        <!-- Water Bill Details -->
        <div class="form-group">
            <label for="desc">Description</label>
            <input type="textarea" class="form-control" id="desc" placeholder="Enter Description">
        </div>

        <!-- File Upload for Bill Image -->
        <!-- <div class="form-group">
            <label for="billImage">Upload Bill Image</label>
            <input type="file" class="form-control-file" id="billImage" accept="image/*">
        </div> -->

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
